Repository overlayeddev/overlayed, pull requests merged in 2024-03, with the labels that each got.

#57 🤖 Update contributors
  apps/web/src/contributors.ts
Labels: skip-changelog

#59 Create Mobile Nav
  apps/web/package.json
  apps/web/src/components/footer.astro
  apps/web/src/components/link.astro
  apps/web/src/components/navbar.astro
  apps/web/src/pages/index.astro
  pnpm-lock.yaml
Labels: web

#60 🤖 Update contributors
  apps/web/src/contributors.ts
Labels: skip-changelog, web

#63 feat: 404 Return Redirect
  apps/web/src/components/navbar.astro
  apps/web/src/pages/404.astro
Labels: web

#65 feat: Improvements
  apps/web/src/components/common-head.astro
  apps/web/src/components/contributors.astro
  apps/web/src/components/footer.astro
  apps/web/src/components/navbar.astro
  apps/web/src/components/react/download.tsx
  apps/web/src/components/react/stars.tsx
  apps/web/src/constants.ts
  apps/web/src/layouts/Layout.astro
  apps/web/src/pages/404.astro
Labels: web
