Repository overlayeddev/overlayed, pull requests merged in 2024-06, with the labels that each got.

#81 blog/fullscreen
  apps/web/public/img/discord/my-request.png
  apps/web/public/img/discord/my-response.png
  apps/web/public/img/discord/overlayed-auth.png
  apps/web/public/img/discord/support-1.png
  apps/web/public/img/discord/support-2.png
  apps/web/src/assets/blog/borderless-windowed.png
  apps/web/src/content/about/index.mdx
  apps/web/src/content/blog/borderless-fullscreen.mdx
  apps/web/src/env.d.ts
  apps/web/src/pages/blog/[...slug].astro
Labels: web

#90 made stuff look better when there an update
  apps/desktop/src/views/settings/account.tsx
  apps/desktop/src/views/settings/index.tsx
Labels: desktop

#92 feat/canary on marketing
  .github/workflows/canary.yaml
  apps/api/README.md
  apps/api/package.json
  apps/api/src/handlers/updater.ts
  apps/api/src/types.ts
  apps/api/src/utils.ts
  apps/api/wrangler.toml
  apps/web/astro.config.ts
  apps/web/src/components/react/download-button.tsx
  apps/web/src/components/react/download.tsx
  apps/web/src/pages/download/canary.astro
  apps/web/src/pages/index.astro
  pnpm-lock.yaml
Labels: web

#96 Fix window titles
  apps/desktop/src-tauri/src/main.rs
  apps/desktop/src-tauri/tauri.conf.json
Labels: desktop

#100 Canary rendering flow change
  apps/desktop/package.json
  apps/desktop/public/img/32x32-canary.png
  apps/desktop/src/components/nav-bar.tsx
  apps/desktop/src/hooks/use-platform-info.ts
  apps/desktop/src/views/settings/index.tsx
Labels: desktop

#105 Allow opting out of telemetry
  apps/desktop/src/App.tsx
  apps/desktop/src/components/nav-bar.tsx
  apps/desktop/src/config.ts
  apps/desktop/src/hooks/use-clickthrough.ts
  apps/desktop/src/hooks/use-config-value.ts
  apps/desktop/src/metrics.ts
  apps/desktop/src/views/settings/account.tsx
  apps/desktop/src/views/settings/join-history.tsx
  apps/desktop/vite.config.ts
Labels: desktop

#106 🤖 Update contributors
  apps/web/astro.config.ts
  apps/web/package.json
  apps/web/src/assets/avatars/kampouse.png
  apps/web/src/contributors.ts
  pnpm-lock.yaml
Labels: skip-changelog, web

#99 Refactor user list
  apps/desktop/.gitignore
  apps/desktop/package.json
  apps/desktop/scripts/generate-commit-hash.js
  apps/desktop/src/components/icons/headphones-off.tsx
  apps/desktop/src/components/icons/mic-off.tsx
  apps/desktop/src/components/user.tsx
  apps/desktop/src/rpc/manager.ts
  apps/desktop/src/store.ts
  apps/desktop/src/types.ts
  apps/desktop/src/utils/crypto.ts
  apps/desktop/turbo.json
  package.json
  turbo.json
Labels: desktop

#114 Add app description
  apps/desktop/src-tauri/Cargo.toml
Labels: desktop

#115 Fix/windows resize
  apps/desktop/src/components/nav-bar.tsx
Labels: desktop

#118 Move to org
  CONTRIBUTING.md
  README.md
  apps/api/src/constants.ts
  apps/api/src/handlers/token.ts
  apps/api/src/handlers/updater.ts
  apps/api/src/utils.ts
  apps/desktop/src-tauri/Cargo.toml
  apps/desktop/src-tauri/tauri.conf.canary.json
  apps/desktop/src-tauri/tauri.conf.ci.json
  apps/desktop/src-tauri/tauri.conf.json
  apps/desktop/src/views/settings/index.tsx
  apps/web/astro.config.ts
  apps/web/src/components/footer.astro
  apps/web/src/components/navbar.astro
  apps/web/src/components/react/download.tsx
  apps/web/src/content/about/index.mdx
  apps/web/src/content/blog/100-stars.mdx
  apps/web/src/pages/blog/[...slug].astro
  apps/web/src/pages/index.astro
  package.json
  pnpm-lock.yaml
  scripts/actions/download-draft-bins.js
  scripts/actions/upload-to-r2.js
  scripts/generate-contributors.ts
  scripts/test.ts
Labels: web, desktop

#124 Fix canary version
  apps/desktop/src/rpc/manager.ts
  apps/desktop/src/views/settings/account.tsx
Labels: desktop

#119 Rename Overlayed canary and fix windows build
  apps/desktop/package.json
  apps/desktop/src-tauri/tauri.conf.canary.json
Labels: desktop

#128 Remove green dot in favor of cutout for tray item
  apps/desktop/src-tauri/Cargo.lock
  apps/desktop/src-tauri/Cargo.toml
  apps/desktop/src-tauri/icons/tray/icon-dark.png
  apps/desktop/src-tauri/icons/tray/icon-pinned-dark.png
  apps/desktop/src-tauri/icons/tray/icon-pinned.png
  apps/desktop/src-tauri/src/commands.rs
  apps/desktop/src-tauri/src/constants.rs
  apps/desktop/src-tauri/src/main.rs
  apps/desktop/src-tauri/tauri.conf.json
  apps/desktop/src/App.tsx
  apps/desktop/src/hooks/use-theme-sync.ts
Labels: desktop

#129 Rename clickthrough to pin
  apps/desktop/src-tauri/src/commands.rs
  apps/desktop/src-tauri/src/constants.rs
  apps/desktop/src-tauri/src/main.rs
  apps/desktop/src-tauri/src/tray.rs
  apps/desktop/src/App.tsx
  apps/desktop/src/components/nav-bar.tsx
  apps/desktop/src/config.ts
  apps/desktop/src/hooks/use-clickthrough.ts
  apps/desktop/src/hooks/use-keybinds.ts
  apps/desktop/src/hooks/use-pin.ts
  apps/desktop/src/store.ts
Labels: desktop

#133 🤖 Update contributors
  apps/web/src/contributors.ts
Labels: skip-changelog, web

#136 Allow maximizing/unmaximizing of the main window
  apps/desktop/src-tauri/tauri.conf.json
Labels: desktop

#108 Fix fullscreen apps on macOS
  apps/desktop/src-tauri/src/main.rs
  apps/desktop/src-tauri/src/window_custom.rs
Labels: desktop

#137 fix: icon functions
  apps/web/src/components/react/download-button.tsx
  apps/web/src/components/react/icons/index.ts
  apps/web/src/components/react/icons/linux.tsx
  apps/web/src/components/react/icons/mac.tsx
  apps/web/src/components/react/icons/windows.tsx
Labels: web

#138 Cleaned up window_custom for macos
  apps/desktop/src-tauri/src/main.rs
  apps/desktop/src-tauri/src/window_custom.rs
Labels: desktop

#139 Fixed frameborder deprecation
  apps/web/src/components/video.astro
Labels: web
