Repository overlayeddev/overlayed, pull requests merged in 2024-07, with the labels that each got.

#140 fix: horizontal centre hero on mobile view
  apps/web/src/pages/canary.astro
  apps/web/src/pages/discord.astro
Labels: web

#141 feature: Added winget as option to download in README and Blog
  README.md
  apps/web/src/assets/blog/installing-with-winget.png
  apps/web/src/content/blog/install-guide.mdx
  apps/web/src/content/blog/windows-winget.mdx
Labels: web

#144 Force unpin when error
  .github/workflows/ci.yaml
  apps/desktop/src/components/nav-bar.tsx
  apps/desktop/src/rpc/manager.ts
Labels: desktop

#147 Added LSUIElement to info.plist to allow app to show in fullscreen workspaces
  apps/desktop/src-tauri/Info.plist
Labels: desktop

#148 Use ico for tray icons
  apps/desktop/src-tauri/icons/README.md
  apps/desktop/src-tauri/icons/tray/icon-pinned.ico
  apps/desktop/src-tauri/icons/tray/icon-pinned.png
  apps/desktop/src-tauri/icons/tray/icon.ico
  apps/desktop/src-tauri/icons/tray/icon.png
  apps/desktop/src-tauri/src/commands.rs
  apps/desktop/src-tauri/tauri.conf.json
Labels: desktop

#149 feat: add tauri_nspanel
  apps/desktop/src-tauri/Cargo.lock
  apps/desktop/src-tauri/Cargo.toml
  apps/desktop/src-tauri/Info.plist
  apps/desktop/src-tauri/src/constants.rs
  apps/desktop/src-tauri/src/main.rs
  apps/desktop/src-tauri/src/window_custom.rs
Labels: desktop

#150 🤖 Update contributors
  apps/web/src/assets/avatars/ahkohd.png
  apps/web/src/assets/avatars/joshhyde9.png
  apps/web/src/assets/avatars/lucfauvel.png
  apps/web/src/assets/avatars/vikingnope.png
  apps/web/src/contributors.ts
Labels: skip-changelog, web

#151 feat: update panel behaviour and style masks flags
  apps/desktop/src-tauri/src/window_custom.rs
Labels: desktop

#154 fix: an issue with titlebar
  apps/desktop/src-tauri/src/main.rs
  apps/desktop/src-tauri/src/window_custom.rs
  apps/desktop/src-tauri/tauri.conf.json
Labels: desktop

#156 Add discord bot
  .github/workflows/deploy-bot.yaml
  apps/bot/.editorconfig
  apps/bot/.gitignore
  apps/bot/.prettierrc.mjs
  apps/bot/README.md
  apps/bot/eslint.config.js
  apps/bot/package.json
  apps/bot/src/commands.ts
  apps/bot/src/index.ts
  apps/bot/src/register.ts
  apps/bot/tsconfig.json
  apps/bot/wrangler.toml
  apps/web/src/pages/quakecon2024.astro
  pnpm-lock.yaml
Labels: web

#158 📇 add "Private call" title
  apps/desktop/src/components/nav-bar.tsx
  apps/desktop/src/constants.ts
  apps/desktop/src/types.ts
Labels: desktop

#160 🤖 Update contributors
  apps/web/src/assets/avatars/ajchili.png
  apps/web/src/contributors.ts
Labels: skip-changelog, web

#161 Use eslint prettier plugin
  apps/web/package.json
  apps/web/plugins/proxy-middleware.mjs
  apps/web/tailwind.config.mjs
  pnpm-lock.yaml
  tooling/config-eslint/node.js
  tooling/config-eslint/package.json
Labels: web

#179 feat: dynamic window level elevation
  apps/desktop/src-tauri/Cargo.lock
  apps/desktop/src-tauri/Cargo.toml
  apps/desktop/src-tauri/src/app_handle.rs
  apps/desktop/src-tauri/src/constants.rs
  apps/desktop/src-tauri/src/main.rs
Labels: desktop

#178 Added showOwnUser setting to the config.
  apps/desktop/src/config.ts
  apps/desktop/src/views/channel.tsx
Labels: desktop

#181 feat: Added Contributing Command
  apps/bot/src/commands.ts
  apps/bot/src/index.ts
Labels: bot

#182 feat: Added contributing into help command
  apps/bot/src/index.ts
Labels: bot
